*{
	font-family: WorldofWater-Regular;
	background-image: url('backimg.jpg');
	background-size: cover;
	background-attachment: fixed;
}

@font-face {
  font-family: "WorldofWater-Regular";
  src: url("worldofwater.ttf");
}

h1{
	font-size: 60px;
	text-align: center;
	text-decoration: underline;
	text-shadow: 1px 2px 4px #eb7500;
	color: #11557d;
}


button{
	display: inline-block;
	margin-right: auto;
	margin-left: auto;
	width: 600px;
	height: 60px;
	font-size: 30px;
	border: 5px solid #11557d;
	transition: all 0.5s;
    cursor: pointer;
    color:#e06100;
}


.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  color: #16274a;
}

.button:hover span {
  padding-right: 25px;
  color: #16274a;
}

.button:hover{
	border: 5px solid #16274a;
	box-shadow: 0px 0px 5px 10px #ffb03b;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
  color: #16274a;
}

.site{
	text-decoration: none;
	color: #11557d;
}

main
{
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	background-image: url('blue.jpg');
	padding: 5%;
	border: 8px solid #ffb03b;
	box-shadow: 0px 0px 5px 8px #11557d;
}

#back
{
	height: 3%;
	width: 3%;
	float: left;

}

#footer
{
	width: 400px;
	display: block;
}

input[placeholder]{
	font-family: Verdana;
}

/* Full-width input fields */
input[type=text], input[type=password], input[type=email], input[type=date] {
  width: 50%;
  padding: 15px;
  display: inline-block;
  border: 1px solid #11557d;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus,  input[type=email]:focus {
  background-color: #ddd;
  border: 3px solid #11557d;
}


/* Float cancel and signup buttons and add an equal width */
.btn {
  width: 25%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}

/* Modal Content/Box */
.modal-content {
  margin: 1.20% auto 1% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 5px solid #11557d;
  width: 40%; /* Could be more or less, depending on screen size */
  padding-left: 5%;
  padding-right: 5%;
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #11557d;
  margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

#terms{
	background: none;
}

#terms a{
	background: ivory;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .btn {
     width: 100%;
  }
}

fieldset strong,
ul strong,
fieldset label.left,
fieldset .column {
	float: left;
	width: 12em;
	font-size: 20px;
	font-family: Verdana;
	padding-top: 5px;
}

.formbutton{
	background: #11557d;
	opacity: 80%;
	display: inline-block;
	margin-right: auto;
	margin-left: auto;
	font-size: 30px;
	border: 5px solid ivory;
	transition: all 0.5s;
    cursor: pointer;
    color:ivory;
}


.formbutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  background: #11557d;
}

.formbutton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  color: #ffb03b;
}

.formbutton:hover span {
  padding-right: 25px;
  color:  #ffb03b;
}

.formbutton:hover{
	border: 5px solid white;
	box-shadow: 0px 0px 5px 8px #16274a;
}

.formbutton:hover span:after {
  opacity: 1;
  right: 0;
  color: #ffb03b;
}

#msg{
	font-size: 25px;
}
